<%= javascript_include_tag 'custom_reports', 'chosen-jquery', 'compliance/encounters' %>
<%= stylesheet_link_tag 'custom_reports', 'custom_users_view', 'chosen', 'compliance/encounters' %>
<h3>
  <%= title 'Complete Work List' %>
  <%= image_tag('spinner.gif', align: 'absmiddle', border: 0, id: 'spinner', style: 'display: none;') %>
</h3>
<% unless flash[:notice].nil? %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>
<div id="content">
  <%= render 'search_encounters' %>
  <div style="clear:both;"></div>
  <br>
</div>
